@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222;
  --gray-mid: #636363;
  --gray-light: #aaaaaa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-mid: var(--gray-mid);
  --color-gray-light: var(--gray-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Courier New", Courier, monospace;
}
