@import "tailwindcss";

:root {
  --background: #EDEFF3;
  --foreground: #303840;
  --gray-light: #C3C6C3;
  --purple-muted: #A091A4;
  --purple-dark: #7C6174;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-light: var(--gray-light);
  --color-purple-muted: var(--purple-muted);
  --color-purple-dark: var(--purple-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
