@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --red: #B51218;
  --cyan: #01F9F0;
  --blue: #0798F8;
  --green: #01DA1E;
  --magenta: #CC00B8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-red: var(--red);
  --color-cyan: var(--cyan);
  --color-blue: var(--blue);
  --color-green: var(--green);
  --color-magenta: var(--magenta);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Courier New", Courier, monospace;
}
